@{
    ViewData["Title"] = "Dashboard";
}
﻿@using System.Globalization
@model IEnumerable<MVC_Project_BSL.Models.Groepsreis>

<h2>Welkom op je dashboard, @User.Identity.Name!</h2>
<!-- Knoppen voor beheer -->
<div class="row mb-4">
    <div class="col-md-3">
        <a href="@Url.Action("Index", "RoleManagement")" class="btn btn-primary btn-block">Gebruikers Beheren</a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Groepsreis")" class="btn btn-success btn-block">Groepsreizen Beheren</a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Activiteiten")" class="btn btn-info btn-block">Activiteiten Beheren</a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Opleidingen")" class="btn btn-warning btn-block">Opleidingen Beheren</a>
    </div>
</div>

@if (!Model.Any())
{
    <div class="alert alert-warning">
        Er zijn momenteel geen groepsreizen beschikbaar. <br />
        <a asp-action="Create" class="btn btn-primary">Voeg een nieuwe groepsreis toe</a>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Begindatum</th>
                <th>Einddatum</th>
                <th>Bestemming</th>
                <th>Prijs</th>
                <th>Aantal deelnemers</th>
                <th>Aantal monitoren</th>
                <th>Hoofdmonitor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var groepsreis in Model)
            {
                <div class="col-md-4 mb-4">
                    <a href="@Url.Action("Detail", "Groepsreis", new { id = groepsreis.Id })" class="card no-link">
                        @{
                            // Haal de eerste foto op, als deze beschikbaar is
                            var eersteFoto = groepsreis.Bestemming?.Fotos?.FirstOrDefault();
                        }
                        <img src="~/images/@eersteFoto.Naam" class="card-img-top" alt="@groepsreis.Bestemming?.BestemmingsNaam" style="height: 300px" />
                        <div class="card-body">
                            <h5 class="card-title">@groepsreis.Bestemming?.BestemmingsNaam</h5>
                            <p class="card-text">@groepsreis.Bestemming?.Beschrijving</p>
                            <p class="card-text"><i class="bi bi-calendar-event"></i> @groepsreis.Begindatum.ToShortDateString() - @groepsreis.Einddatum.ToShortDateString()</p>
                            <p class="card-text"><i class="bi bi-cake"></i> @groepsreis.Bestemming?.MinLeeftijd - @groepsreis.Bestemming?.MaxLeeftijd</p>
                            <p class="card-text">@groepsreis.Prijs.ToString("C", new CultureInfo("nl-BE"))</p>
                        </div>
                    </a>
                </div>
            }
        </tbody>
    </table>
}



