@{
	ViewData["Title"] = "Dashboard";
}
﻿@using System.Globalization
@using MVC_Project_BSL.ViewModels
@model GroepsreisViewModel

<div class="hero-section-dashboard bg-navbar text-black text-center py-5 rounded-3 mb-3 position-relative">
	<div class="container">
		<h2 class="display-4">Welkom op je dashboard, @User.Identity.Name!</h2>

		<!-- Knop wordt absoluut gepositioneerd -->
		<a href="@Url.Action("Index", "PersoonlijkeGegevens")" class="btn btn-primary position-absolute" style="bottom: 10px; right: 10px;">
			<i class="bi bi-person-lines-fill"></i> Beheer
		</a>
	</div>
</div>


<!-- Knoppen voor beheer -->
@if (User.IsInRole("Beheerder"))
{
	<div class="row mb-4">
		<div class="col-md-3">
			<a href="@Url.Action("Index", "RoleManagement")" class="btn btn-primary btn-block">Gebruikers Beheren</a>
		</div>
		<div class="col-md-3">
			<a href="@Url.Action("Index", "Groepsreis")" class="btn btn-success btn-block">Groepsreizen Beheren</a>
		</div>
		<div class="col-md-3">
			<a href="@Url.Action("Index", "Activiteiten")" class="btn btn-info btn-block">Activiteiten Beheren</a>
		</div>
		<div class="col-md-3">
			<a href="@Url.Action("Index", "Opleidingen")" class="btn btn-warning btn-block">Opleidingen Beheren</a>
		</div>
	</div>
}



<form method="get" asp-action="Index" class="mb-4 d-flex justify-content-center">
	<div class="d-flex">
		<!-- Filter op Bestemming -->
		<div class="form-group me-2">
			<select class="form-control" name="bestemming">
				<option value="">Alle bestemmingen</option>
				@foreach (var bestemming in Model.AlleBestemmingen)
				{
					<option value="@bestemming.BestemmingsNaam">@bestemming.BestemmingsNaam</option>
				}
			</select>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">
				<i class="bi bi-sliders"></i>
			</button>
		</div>
	</div>
</form>

@if (User.IsInRole("Beheerder"))
{
	<div class="row mb-4">
		@if (!Model.AlleGroepsReizen.Any())
		{
			<p>Geen groepsreizen gevonden.</p>
		}
		else
		{
			<h3 class="p-3">Niet gearchiveerde Groepsreizen</h3>
			@foreach (var groepsreis in Model.AlleGroepsReizen)
			{
				<div class="col-md-4 mb-4">
					<a href="@Url.Action("Detail", "Groepsreis", new { id = groepsreis.Id })" class="card no-link">
						@{
							// Haal de eerste foto op, als deze beschikbaar is
							var eersteFoto = groepsreis.Bestemming?.Fotos?.FirstOrDefault();
						}
						<img src="~/images/@eersteFoto.Naam" class="card-img-top" alt="@groepsreis.Bestemming?.BestemmingsNaam" style="height: 300px" />
						<div class="card-body">
							<h5 class="card-title">@groepsreis.Bestemming?.BestemmingsNaam</h5>
							<p class="card-text">@groepsreis.Bestemming?.Beschrijving</p>
							<p class="card-text"><i class="bi bi-calendar-event"></i> @groepsreis.Begindatum.ToShortDateString() - @groepsreis.Einddatum.ToShortDateString()</p>
							<p class="card-text"><i class="bi bi-cake"></i> @groepsreis.Bestemming?.MinLeeftijd - @groepsreis.Bestemming?.MaxLeeftijd</p>
							<p class="card-text">@groepsreis.Prijs.ToString("C", new CultureInfo("nl-BE"))</p>
						</div>
					</a>
				</div>
			}
		}
	</div>
	<div class="row mb-4">
		@if (!Model.AlleGroepsReizen.Any())
		{
			<p>Geen gearchiveerde groepsreizen gevonden.</p>
		}
		else
		{
			<h3 class="p-3">Gearchiveerde Groepsreizen</h3>
			@foreach (var groepsreis in Model.GearchiveerdeGroepsreizen)
			{
				<div class="col-md-4 mb-4">
					<a href="@Url.Action("ArchivedDetail", "Groepsreis", new { id = groepsreis.Id })" class="card no-link">
						@{
							// Haal de eerste foto op, als deze beschikbaar is
							var eersteFoto = groepsreis.Bestemming?.Fotos?.FirstOrDefault();
						}
						<img src="~/images/@eersteFoto.Naam" class="card-img-top" alt="@groepsreis.Bestemming?.BestemmingsNaam" style="height: 300px" />
						<div class="card-body">
							<h5 class="card-title">@groepsreis.Bestemming?.BestemmingsNaam</h5>
							<p class="card-text">@groepsreis.Bestemming?.Beschrijving</p>
							<p class="card-text"><i class="bi bi-calendar-event"></i> @groepsreis.Begindatum.ToShortDateString() - @groepsreis.Einddatum.ToShortDateString()</p>
							<p class="card-text"><i class="bi bi-cake"></i> @groepsreis.Bestemming?.MinLeeftijd - @groepsreis.Bestemming?.MaxLeeftijd</p>
							<p class="card-text">@groepsreis.Prijs.ToString("C", new CultureInfo("nl-BE"))</p>
						</div>
					</a>
				</div>
			}
		}
	</div>
}


@if (!User.IsInRole("Beheerder"))
{
	<div class="row mb-4">
	@if (!Model.GeboekteGroepsReizen.Any())
	{
		<p>Geen ingeschreven groepsreizen gevonden.</p>
	}
	else
	{
		<h3 class="p-3">Ingeschreven Groepsreizen</h3>
		@foreach (var groepsreis in Model.GeboekteGroepsReizen)
		{
			<div class="col-md-4 mb-4">
				<a href="@Url.Action("Detail", "Groepsreis", new { id = groepsreis.Id })" class="card no-link">
					@{
						// Haal de eerste foto op, als deze beschikbaar is
						var eersteFoto = groepsreis.Bestemming?.Fotos?.FirstOrDefault();
					}
					<img src="~/images/@eersteFoto.Naam" class="card-img-top" alt="@groepsreis.Bestemming?.BestemmingsNaam" style="height: 300px" />
					<div class="card-body">
						<h5 class="card-title">@groepsreis.Bestemming?.BestemmingsNaam</h5>
						<p class="card-text">@groepsreis.Bestemming?.Beschrijving</p>
							<p class="card-text"><i class="bi bi-calendar-event"></i> @groepsreis.Begindatum.ToShortDateString() - @groepsreis.Einddatum.ToShortDateString()</p>
							<p class="card-text"><i class="bi bi-cake"></i> @groepsreis.Bestemming?.MinLeeftijd - @groepsreis.Bestemming?.MaxLeeftijd</p>
						<p class="card-text">@groepsreis.Prijs.ToString("C", new CultureInfo("nl-BE"))</p>
					</div>
				</a>
			</div>
		}
	}
	</div>
	<div class="row mb-4">
	@if (!Model.ToekomstigeGroepsReizen.Any())
	{
		<p>Geen toekomstige groepsreizen gevonden.</p>
	}
	else
	{
		<h3 class="p-3">Toekomstige Groepsreizen</h3>
		@foreach (var groepsreis in Model.ToekomstigeGroepsReizen)
		{
				<div class="col-md-4 mb-4">
					<a href="@Url.Action("Detail", "Groepsreis", new { id = groepsreis.Id })" class="card no-link">
						@{
							// Haal de eerste foto op, als deze beschikbaar is
							var eersteFoto = groepsreis.Bestemming?.Fotos?.FirstOrDefault();
						}
						<img src="~/images/@eersteFoto.Naam" class="card-img-top" alt="@groepsreis.Bestemming?.BestemmingsNaam" style="height: 300px" />
						<div class="card-body">
							<h5 class="card-title">@groepsreis.Bestemming?.BestemmingsNaam</h5>
							<p class="card-text">@groepsreis.Bestemming?.Beschrijving</p>
							<p class="card-text"><i class="bi bi-calendar-event"></i> @groepsreis.Begindatum.ToShortDateString() - @groepsreis.Einddatum.ToShortDateString()</p>
							<p class="card-text"><i class="bi bi-cake"></i> @groepsreis.Bestemming?.MinLeeftijd - @groepsreis.Bestemming?.MaxLeeftijd</p>
							<p class="card-text">@groepsreis.Prijs.ToString("C", new CultureInfo("nl-BE"))</p>
						</div>
					</a>
				</div>
		}
	}
	</div>
}



