@model IEnumerable<MVC_Project_BSL.Models.Groepsreis>

<h1>Groepsreizen</h1>

@if (!Model.Any())
{
    <div class="alert alert-warning">
        Er zijn momenteel geen groepsreizen beschikbaar. <br />
        <a asp-action="Create" class="btn btn-primary">Voeg een nieuwe groepsreis toe</a>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Begindatum</th>
                <th>Einddatum</th>
                <th>Bestemming</th>
                <th>Prijs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var groepsreis in Model)
            {
                <tr>
                    <td>@groepsreis.Begindatum.ToShortDateString()</td>
                    <td>@groepsreis.Einddatum.ToShortDateString()</td>
                    <td>@groepsreis.Bestemming?.BestemmingsNaam</td>
                    <td>@groepsreis.Prijs.ToString("C")</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@groepsreis.Id">Bekijken</a> |
                        <a asp-action="Edit" asp-route-id="@groepsreis.Id">Bewerken</a> |
                        <a asp-action="Delete" asp-route-id="@groepsreis.Id">Verwijderen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create" class="btn btn-primary">Nieuwe Groepsreis</a>
    </p>
}
